/* MEDIA : MAX: 760px */

@media only screen and (max-width: 760px){
    body {
        max-width: 98vw;
        line-height: 1.5;
        margin: 0 auto;
    }
    /* root styles */

:root {
    --bgcol-global: rgba(219, 231, 221, 0.678);
}

/* HEADER, FOOTER AND MAIN STYLING */
header {
    border-radius: 0.4rem 0.4rem 0 0; 
}
footer {
    border-radius: 0 0 0.4rem 0.4rem;
}
main {
    display: flex;
}
main h2 {
    text-align: center;
    padding: 1.4rem;
}

/* header styling */
header h1 img {
        width: 4rem;
        height: auto;
    }
header h1 {
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: rgb(54, 50, 50);
    padding: 2rem;
}

/* h1, h2 {
     font-family: "Cinzel Decorative", cursive;
}
h1 {
    text-shadow:2px 2px 10px black
} */
 aside {
    max-width: 35%;
    margin-left: 1rem;

}


aside img {
  float: left;
  width: 46%;
  max-width: 100%;
  border-radius: 0.4rem;
  margin: 0.2rem;
}
header, main, footer {
    background-color: var(--bgcol-global);
    margin: 0.15rem;
    padding: 0.8rem;

}
.nav-ul {
     background-color: var(--bgcol-global);
     list-style-type: none;
     display: flex;
     text-transform: uppercase;
     width: 98%;
     margin: 0 auto;
     justify-content: space-evenly;
     padding: 0.8rem;
     border-radius: 0.8rem;

     a {
        text-decoration: none;
        font-size: 1.4rem;
        padding: 0.5rem;
     }

}
a:hover {
    border: 1px solid green;
    color: brown;
    border-radius: 0.6rem;

}
}