body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.excel-table {
    width: 60%;
    border-collapse: collapse;
    /* margin: 0 auto; */
}

 th,  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
 }
 th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f8;
}

td:hover {
    background-color: #eaeaea;
}
