/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: rgb(216, 205, 193);
    scroll-margin-top: 0;
}

/* root styles */

:root {
    --bgcol-global: rgba(62, 163, 71, 0.678);
}

/* HEADER, FOOTER AND MAIN STYLING */
header {
    border-radius: 0.5rem 0.5rem 0 0; 
    margin: 0;
    background-color: rgb(136, 117, 117);
    padding: 0;
}
footer {
    border-radius: 0 0 0.5rem 0.5rem;
}
main {
    display: flex;
}
main h2 {
    text-align: center;
    padding: 1.5rem;
}


header h1 img {
        width: 3rem;
        height: auto;
    }
header h1 {
    width: 100%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: rgb(54, 50, 50);
    /* padding: 2.5rem; */
}
h1, h2 {
     font-family: "Cinzel Decorative", cursive;
}
h1 {
    text-shadow:2px 2px 10px black
}

/* ASIDE STYLING */

aside {
    max-width: 35%;
    margin-left: 1rem;

}


aside img {
  width: 45%;
  border-radius: 0.5rem;
  margin: 0.3rem;
}

article, aside {
    background-color: rgb(238, 238, 245);
    padding: 1rem;
    border-radius: 1rem;
}

.nav-ul {
     background-color: var(--bgcol-global);
     list-style-type: none;
     display: flex;
     text-transform: uppercase;
     width: 98%;
     margin: 0 auto;
     justify-content: space-around;
     padding: 1rem;
     border-radius: 1rem;

     a {
        text-decoration: none;
        font-size: 2.2rem;
     }
}

@media only screen and (max-width: 760px){
    body {
        max-width: 98vw;
        line-height: 1.5;
        margin: 0 auto;
    }
    /* root styles */

:root {
    --bgcol-global: rgba(219, 231, 221, 0.678);
}

/* HEADER, FOOTER AND MAIN STYLING */
header {
    border-radius: 0.4rem 0.4rem 0 0; 
}
footer {
    border-radius: 0 0 0.4rem 0.4rem;
}
main {
    display: flex;
}
main h2 {
    text-align: center;
    padding: 1.4rem;
}

/* header styling */
header h1 img {
        width: 4rem;
        height: auto;
    }
header h1 {
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: rgb(54, 50, 50);
    padding: 2rem;
}

/* h1, h2 {
     font-family: "Cinzel Decorative", cursive;
}
h1 {
    text-shadow:2px 2px 10px black
} */
 aside {
    max-width: 35%;
    margin-left: 1rem;

}


aside img {
  float: left;
  width: 46%;
  max-width: 100%;
  border-radius: 0.4rem;
  margin: 0.2rem;
}
header, main, footer {
    background-color: var(--bgcol-global);
    margin: 0.15rem;
    padding: 0.8rem;

}
.nav-ul {
     background-color: var(--bgcol-global);
     list-style-type: none;
     display: flex;
     text-transform: uppercase;
     width: 98%;
     margin: 0 auto;
     justify-content: space-evenly;
     padding: 0.8rem;
     border-radius: 0.8rem;

     a {
        text-decoration: none;
        font-size: 1.4rem;
        padding: 0.5rem;
     }

}
a:hover {
    border: 1px solid green;
    color: brown;
    border-radius: 0.6rem;

}
}

@media only screen and ( max-width: 375px ) {
    * {
        box-sizing: border-box;
        margin: 0;
    }
    /* html {font-size: 10px;} */
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow-x: hidden;
        background-color: rgb(250, 249, 248);
        font-size: 2rem;
    }

    header {
        font-size: 2rem;
        width: 100vw; 
        padding: 0;
    }
    header h1 {
        padding-top: 0;
        margin: 0;
        width: 100%;
    }
    .nav-ul {
        display: flex;

    }
    aside {
        min-width: 100%;
        margin: 0;
    }
}


