table {
    border: 1px solid purple;
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    background-color: rgb(236, 234, 230);
}
th, td {
    border: 0.5px solid blue;
    padding: 5px;
}
th:nth-child(3) {
    background-color: rgb(149, 196, 180);
}
caption {
    text-transform: uppercase;
}