* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {font-size: 10px;}
body {
    width: 100%;
    height: 100vh;
    font-size: 1.6rem; 
}

div {
    width: 90%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    border-top: 4px solid;
    padding-bottom: 1.5rem ;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% auto;
    counter-reset: section;
}
h1 {
    margin-top: 0;
    text-align: center;
    padding-bottom: 1rem;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-top: 5px;
    counter-reset: subsection;
    }
    h1::before {
        counter-increment: section;
        content: 'Lang '
        counter(section, upper-roman )': ';
    }
    h2::before {
        counter-increment: subsection;
        content: '' counter(section)'.'
        counter(subsection)". "
    }

article {
    width: calc(50% - 5rem);
    margin: 1rem auto;
    box-shadow: 0 5px 9px 0;
    padding: 8px;
    border-radius: 8px;
    padding-left: 2rem;
    border-left: 3px solid;
}

div:empty {
    display: none;
}
@media (max-width: 800px) {
    article {width: 80%;}
}