body {
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
}
div {
    margin: 5rem auto;
    padding: 5rem;
    background-color: rgb(243, 240, 235);
    border: 1px solid;
    width: fit-content;
    border-radius: 10%;
}
button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(36, 129, 129);
    font-size: 1.5rem;
}
button::after {
    content: "WAOUH"
}
button:hover {
    background-color: rgb(200, 233, 222);
}